
body {
	height: auto!important;
  font-size: 1em;
  line-height: 1.5em;
}
h1 {
  font-size: 2.75em;
  line-height: 1.09090909em;
  margin-top: 1.09090909em;
  margin-bottom: 0.54545455em;
}
h2 {
	font-weight: 300;
  font-size: 1.9375em;
  line-height: 1.548387096em;
  margin-top: 1.5483871em;
  margin-bottom: 0.77419355em;
}
h3 {
	font-weight: 300;
  font-size: 1.375em;
  line-height: 1.090909091em;
  margin-top: 1.09090909em;
  margin-bottom: 1.09090909em;
}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

.intro {
	position: relative;
	padding: 64px 0;
	
	text-align: center;
}

.intro-title {
	font-size: 3em;
	font-weight: 300;
	color:#444;
}

.intro-image {
	width:256px;
}

input, .input {
	margin: 4px 4px 4px 0;
	padding: 4px;
	vertical-align: middle;
	
	border:#DDD solid 1px;
	border-radius: 3px;
}

.input.camera {
	padding: 8px;
}

.avatar {
	display: inline-block;
	width:128px;
	height:auto;
	margin: 4px;
	padding: 0;
}

.gradient-bar {
	width:100%;
	padding: 4px 0;
	float: left;
	
background: -moz-linear-gradient(-45deg,  rgba(247,63,115,0.7) 0%, rgba(240,0,0,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(247,63,115,0.7)), color-stop(100%,rgba(240,0,0,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(247,63,115,0.7) 0%,rgba(240,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(247,63,115,0.7) 0%,rgba(240,0,0,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(247,63,115,0.7) 0%,rgba(240,0,0,0.7) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(247,63,115,0.7) 0%,rgba(240,0,0,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3f73f73', endColorstr='#b3f00000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}